/** Add css rules here for your application. */


/* Boundary Panel
*/
.boundaryPanel {
	padding: 10px;
	background-color: #B3FF87; /* bright green */ 
}

/* Callnumber Panel 
*/
.cnPanel {
	padding-top: 10px;
	background-color: #808080; /* gray */
}

/* Target Panel 
*/
.targetPanel {
	padding-bottom: 10px;
	background-color: #87B3FF; /* bright blue */
}

/* Button
*/
.lineBreak {
	white-space: pre;
}

/* Score Me Button
*/
.scoreMe {
	padding-top: 30px;
	font-size: 14px;
}

.noMistakes {
  padding-top: 30px;
  font-size: 44px;
  color: green;
}

.yesMistakes {
  padding-top: 30px;
  font-size: 44px;
  color: red;
}